body {
  padding-top: 50px;
}

.em-text{
  color: blue !important;
}

.jumbotron{
  background-image: url("../img/bg_img1.jpg");
  background-color: #cccccc;
  overflow: none;
}

.center{
  display: center;

}